.main {
    display: flex;
    flex-direction: column;
    gap: 44px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .buttons {
            padding: 0 48px 24px;
            font-size: 12px;
            display: flex;
            gap: 12px
        }

        .summaryContainer {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .summary {
                display: flex;
                justify-content: space-between;

                .title {
                    font-size: 18px;
                    line-height: 18px;
                    color: #333333;
                }

                .count {
                    font-size: 18px;
                    line-height: 18px;
                    color: #7E8BFF;
                }
            }
        }
    }
}