.main {
    display: flex;
    flex-direction: column;
    gap: 44px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .buttons {
            padding: 0 48px 24px;
            font-size: 12px;
            display: flex;
            gap: 12px
        }
    }
}